[Unit]
Description=Addon Tickets
After=network.target

[Service]
Type=simple
User=opc
WorkingDirectory=/home/opc/ADDON-TICKETS

ExecStart=/usr/bin/node server.js

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
